.text-lemon {
  color: rgb(81, 194, 37); /* Adjust the color code as needed */
}
.bg-lemon {
  background-color: rgb(81, 194, 37); /* Adjust the color code as needed */
}
.greenborder {
  border: 1px solid rgb(81, 194, 37);
  margin-top: 15px;
  width: 200px;
}
.transparent-red {
  background-color: rgba(240, 162, 162, 0.555); /* Red color with 50% opacity */
}
.transparent-blue {
  background-color: rgba(0, 0, 255, 0.473); /* Blue color with 50% opacity */
}
.transparent-green {
  background-color: rgba(144, 241, 144, 0.5); /* Green color with 50% opacity */
}
.transparent-div {
  padding: 20px;
  border-radius: 5px;
}
.vertical-line {
  border-left: 1px solid black; /* Adjust the color and thickness as needed */
  height: 100px; /* Adjust the height of the vertical line */
  display: "inline-block";
  margin-left:15px;
}
.formb {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}
.data {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black; /* Set the bottom border */
  outline: none; /* Remove outline */
  transition: border-bottom-color 0.3s ease;
}
.data:focus {
  border-bottom-color: limegreen; /* Change bottom border color on focus */
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vh;
  border-radius: 5px;
  margin-top: 9rem;
  justify-content: center;
}
/* CSS */
/* Hide the default radio button */

input[type="radio"] + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white; /* Change this to your desired color */
  border: 2px solid #ccc; /* Change this to your desired color */
  border-radius: 50%;
}

/* Style the custom radio button when checked */
input[type="radio"]:checked + label {
  background-color: green !important; /* Change this to your desired color */
  border-color: green !important; /* Change this to your desired color */
}
@-moz-document url-prefix() {
  input[type="radio"] + label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-color: green; /* Change this to your desired color */
    border-radius: 50%;
    display: none;
  }
  .formholder {
    position: relative;
  }

  .formholder::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Adjust the width and height of the icon */
    height: 300px;
    background-image: url("img/unaab.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.3; /* Adjust opacity if needed */
  }

  input[type="radio"]:checked + label::before {
    display: block;
  }
}
